@singer-pic-size:50vw;
*{
    margin: 0;
    padding: 0;
}
html,
body{
    width: 100vw;
    height: 100vh;
}
@font-face {
    font-family: 'iconfont';
    src: url('../img/iconfont/iconfont.eot');
    src: url('../img/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), 
         url('../img/iconfont/iconfont.woff') format('woff'),
         url('../img/iconfont/iconfont.ttf') format('truetype'), 
         url('../img/iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .singer-pic{
        width: @singer-pic-size;
        height: @singer-pic-size;
        margin: 0 auto 0;
        padding-top: 60px;
        position: relative;
        top:13vh;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .info{
        position: relative;
        top:45vw;
        text-align: center;
        color: #fff;
        .song{
            padding: 10px;
        }
        p{
            padding: 3px;
        }
    }
    .control{
        width: 90%;
        margin: 0 auto;
        position: relative;
        top:60vw;
        display: flex;
        align-items: center;
        div{
            display: inline-block;
            color: #fff;
        }
        .time{
            padding: 0 5px;
        }
        .progress-bar{
            flex: 1;
            height: 10px;
            overflow: hidden;
            position: relative;
            .pro-bottom{
                height: 3px;
                width: 100%;
                background-color: rgba(200,200,200,.3);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .pro-top{
                height: 3px;
                width: 100%;
                background-color: #ddd;
                position: absolute;
                top: 50%;
                transform: translate(-100% , -50%);
            }
            .pro-btn{
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 50%;
                transform: translate(0px , -50%); 
            }
        }
    }
    .control-btn{
        height: 10vh;
        width: 100vw;
        background-color: rgba(0 , 0 , 0 , .8);
        position: absolute;
        bottom: 0;
        display: flex;
        font-size: 16px;
        div{
            flex: 1;
            color: #fff;
            text-align: center;
            i{
                line-height: 10vh;
            }
        }
        .unlike{
            .n{
                display: inline;
            }
            .y{
                display: none;
            }
        }
        .like{
            .n{
                display: none;
            }
            .y{
                display: inline;
            }
        }
        .play{
            .y{
                display: inline;
            }
            .n{
                display: none;
            }
        }
        .pause{
            .y{
                display: none;
            }
            .n{
                display: inline;
            }
        }
    }
    .song-list-bg{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(50,50,50,.3);
        display: none;
    }
    .song-list{
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
        display: none;
        .top{
            width: 100%;
            height: 15%;
            padding: 15px;
            box-sizing: border-box;
            position: relative;
            border-bottom: 1px solid #888;
            text-align: center;
            line-height: 30px;
            font-size: 18px;
            color: #fff;
            background-color: rgba(20, 20, 20, .9);
            .len{
                color: #888;
            }
        }
        .list-content{
            height:85%;
            overflow: hidden;
            background-color:  rgba(20, 20, 20, .9);
            ul{
                width: 100%;
                position: relative;
                top: 0;
                li{
                    margin: 0 15px;
                    border-bottom: 1px solid #888;
                    display: block;
                    padding: 15px;
                    .song{
                        font-size: 18px;
                        vertical-align: middle;
                        color: #fff;
                    }
                    .singer{
                        vertical-align: middle;
                        color: #888;
                    }
                }
                li.active{
                    .song{
                        color: rgb(14, 145, 14);
                    }
                    .singer{
                        color: rgb(14, 145, 14);
                    }
                }
            }
             
        }
    }
}